<div class="container content"
     ng-controller="adminArticleController as adminArticleCtrl">
    <div class="row">
        <div class="col-xs-12">
            <ul class="breadcrumb">
                <li><a ui-sref="app.admin">Article list</a></li>
                <li class="active">Add Article</li>
            </ul>
        </div>
        <div class="col-xs-12 col-sm-9" >
            <div class="alert alert-success" role="alert"
                 ng-if="adminArticleCtrl.successAdd">
                The article was successful added!</div>
            <form class="form-horizontal" role="form"
                  name="updateForm" ng-submit="adminArticleCtrl.addArticle()"
                  ng-if="!adminArticleCtrl.successAdd">
                <div class="form-group">

                    <label for="title" class="col-sm-2 control-label">Title</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="title" name="title"
                               ng-model="adminArticleCtrl.articleAdd.title">

                    </div>
                </div>

                <div class="form-group">
                    <label for="feedback" class="col-sm-2 control-label">Content</label>
                    <div class="col-sm-10">
                        <textarea class="form-control" id="feedback" name="feedback" rows="17"
                                  ng-model="adminArticleCtrl.articleAdd.content"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-success">Send article</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
