<div class="container content" ng-controller="adminArticleController as adminArticleCtrl">
    <div class="row">
        <div class="col-xs-12">
            <ul class="breadcrumb">
                <li><a ui-sref="app.admin">Article's list</a></li>
                <li class="active">Edit Article</li>
            </ul>
        </div>
        <div class="col-xs-12 col-sm-9" >
            <div class="alert alert-success" ng-if="adminArticleCtrl.successEdit">
                The article was successfully edited!
            </div>
            <form class="form-horizontal" role="form"
                  name="updateForm" ng-submit="adminArticleCtrl.editArticle()"
                  ng-if="!adminArticleCtrl.successEdit">
                <div class="form-group">

                    <label for="title" class="col-sm-2 control-label">Article Title</label>
                    <div class="col-sm-10">
                        <input type="text" ng-model="articleDetailCtrl.article.title"
                               class="form-control" id="title"
                               name="title"
                               value="{{adminArticleCtrl.article.title}}" required>

                    </div>

                </div>
                <div class="form-group">
                    <label for="feedback" class="col-sm-2 control-label">Article content</label>
                    <div class="col-sm-10">
                        <textarea class="form-control" ng-model="articleDetailCtrl.article.content"
                                  id="feedback"
                                  name="feedback" rows="17"
                        >{{adminArticleCtrl.article.content}}</textarea>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-success">Send article</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
