<div class="container content " ng-controller="articlesController">
    <div class="row">
        <div class="col-xs-12" ng-if="!showArticles">
            {{message}}
        </div>
        <div class="col-xs-12 col-sm-4">
            <div class="row">

                <div class="add-idea-sticker">
                    So you could<br>
                    add or remove<br>
                    nice furniture<br>
                    to your lovely house
                    <br> just click
                    <span class="click-here-home">
                        <a ui-sref="app.furniture">here</a>
                    </span> <br>
                </div>
                <div class="plan-sticker">
                    Just click
                    <span class="click-here-home"><a ui-sref="app.plans">here</a></span><br> to add plan or
                    replaning!<br>
                    Also add here <br>
                    main paraments!
                </div>
                <div class="idea-sticker">
                    <div class="rotate">
                        PS: Do not forget <br>
                        to collect<br> and add
                        <span class="click-here-home">
                            <a ui-sref="app.ideas">here</a>
                        </span> <br>ideas in images! <br>;-)
                    </div>
                </div>


            </div>
            <div class="row"></div>
            <div class="row "></div>

        </div>

        <div class="col-xs-12 col-sm-8 " ng-if="showArticles">
            <div class="article-wrapper">
                <div class="media"
                     ng-repeat="article in filteredArticles  | orderBy: '-date'">
                    <div class="media-left">
                        <img ng-src="">
                    </div>
                    <div class="media-body">
                        <h4>
                            <a ui-sref="app.article({id: article.id})">{{article.title}}</a>
                        </h4>
                        <small>{{article.date}}</small>

                        <p class="subText">{{article.content.substr(0, 200) + "..."}}</p>
                    </div>

                </div>
            </div>
        </div>




    </div>

    <div id="pagination" class="col-xs-12">
        <uib-pagination total-items="totalItems"
                        items-per-page="itemsPerPage"
                        ng-model="currentPage"
                        boundary-links="true"
                        max-size="max_size"
                        class="pagination-sm"
                        previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;"
                        last-text="&raquo;">
        </uib-pagination>
        <!--<pre>The selected page no: {{currentPage}}</pre>-->
        <!--page="currentPage"-->
        <!--on-select-page="setPage(page)"-->


    </div>

</div>

<!--var month = function(){-->
<!--var month = ["january", "february", "march","april", "may",-->
<!--"june","july","august", "september", "october", "November"];-->
<!--return {-->
<!--name : function(num){return month[num];},-->
<!--number : function(name){return month.indexOf(name);}-->
<!--}-->
<!--}(); -->
