<div class="container content" ng-controller="ideasController as ideasCtrl">

    <div class="row">
        <div class="col-sm-4">

            <!--<nav class="drawer-nav" style="display:{{ideasCtrl.display}}; left: 0px;">-->

            <!--<a href="" class="close click_tracking">Close</a>-->


            <!--</nav>-->
            <style>


            </style>


            <div class="hide-me" ng-hide="ideasCtrl.myCheck">
                <span class="close-me" ng-click="ideasCtrl.closeIdea()">Close</span>
                <br><br>
                <form class="form-horizontal" name="addIdeaForm">
                    <div class="form-group">
                        <input class="form-control " type="text">
                    </div>
                    <div class="form-group">
                        <textarea style="resize: vertical;" class="form-control " rows="7"></textarea>
                    </div>
                    <span class="close-me" ng-click="ideasCtrl.saveIdea()">Save</span>
                </form>

            </div>

            <div class="row add-idea-wrapper">
                <div
                        class="col-xs-12" ng-click="ideasCtrl.addIdea()">
                    So there could be <br>
                    your idea getting <br>
                    from different<br>
                    resources.
                    Just<br> click here<br> to add new one!
                </div>
            </div>
            <div class="row add-idea-wrapper_">
                <div class="col-xs-12">
                    <div class="rotate">
                        PS: Do not forget <br>to add <br>description to it! <br>;-)
                    </div>
                </div>
            </div>

        </div>
        <div class="col-sm-8 content_idea">

            <uib-carousel interval="ideasCtrl.myInterval" no-wrap="ideasCtrl.noWrapSlides">
                <uib-slide ng-repeat="idea in ideasCtrl.ideas"
                           active="idea.active"
                           index="idea.id">

                    <img ng-src="{{idea.image}}" style="margin:auto;">


                    <div class="carousel-caption">

                        <p>{{idea.title}}</p>
                        <p><a ng-click="ideasCtrl.getIdea()"
                              class="btn btn-primary btn-xs"
                              ui-sref="app.idea({id:idea.id})">
                            More about it &raquo;</a></p>
                    </div>
                </uib-slide>

            </uib-carousel>
            <div class="row">
                <div class="col-xs-12 ">
                    <a ng-repeat="idea in ideasCtrl.ideas">
                        <img ng-src="{{idea.image}}"
                             class="small_pic_idea"
                             ng-click="ideasCtrl.setActive(idea.id)"
                        >
                    </a>
                </div>
            </div>


        </div>
    </div>

</div>

</div>
