<div class="container content" ng-controller="ideasController as ideasCtrl">
    <div class="row">
        <div class="col-sm-4">
            <ul class="breadcrumb">
                <li><a ui-sref="app">Home</a></li>
                <li class="active">Ideas</li>
            </ul>
            <div class="hide-me" ng-if="ideasCtrl.loginMsg"
                 ng-hide="ideasCtrl.myCheck">
                <span class="close-me" ng-click="ideasCtrl.closeIdea()">Close</span>
                <br><br>
                <form class="form-horizontal" name="addIdeaForm">
                    <div class="form-group">
                        <!--{{ideasCtrl.idea.title}}-->
                        <input class="form-control "
                               type="text"
                               ng-model="ideasCtrl.idea.title"
                               placeholder="Title"
                               required>
                    </div>
                    <div class="form-group">
                        <!--{{ideasCtrl.idea.image}}-->
                        <input class="form-control "
                               type="url"
                               ng-model="ideasCtrl.idea.image"
                               placeholder="Image link"
                               required>
                    </div>
                    <div class="form-group">
                        <!--{{ideasCtrl.idea.description}}-->
                        <textarea class="form-control "
                                  rows="7"
                                  ng-model="ideasCtrl.idea.description"
                                  placeholder="Descrioption"
                                  required>
                        </textarea>
                    </div>
                    <span type="submit" class="close-me" ng-click="ideasCtrl.saveIdea()">Save</span>
                </form>
            </div>
            <div class="row ">
                <div class="col-xs-12"
                     ng-click="ideasCtrl.addIdea()">
                    <div class="add-idea-sticker">
                        So there could be <br>
                        your idea getting <br>
                        from different<br>
                        resources.
                        Just<br> click here<br> to add new one!
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="idea-sticker">
                        <div class="rotate">
                            PS: Do not forget
                            <br>to add
                            <br>description to it!
                            <br>;-)
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-8">
            <uib-carousel interval="ideasCtrl.myInterval"
                          no-wrap="ideasCtrl.noWrapSlides">
                <uib-slide ng-repeat="slide in ideasCtrl.ideas"
                           active="slide.active"
                           index="slide.idCarousel">

                    <img ng-src="{{slide.image}}" style="margin:auto;">



                    <div class="carousel-caption">
                        <p>{{slide.title}}</p>
                        <p><a ng-click="ideasCtrl.getIdea()"
                              class="btn btn-primary btn-xs"
                              ui-sref="app.idea({id:slide.id})">
                            More about it &raquo;</a></p>
                    </div>
                </uib-slide>
            </uib-carousel>

            <div class="row">
                <div class="col-xs-12 ">
                    <a ng-repeat="slide in ideasCtrl.ideas">
                        <img ng-src="{{slide.image}}"
                             class="small_pic_idea"
                             ng-click="ideasCtrl.setActive(slide.idCarousel)">

                    </a>
                </div>
            </div>
        </div>
    </div>
</div>