<div class="container content" ng-controller="plansController as plansCtrl">
    <div class="row">
        <div class="col-sm-4 col-xs-12">
            <ul class="breadcrumb">
                <li><a ui-sref="app">Home</a></li>
                <li class="active">Plans</li>
            </ul>
            <div class="hide-me" ng-hide="plansCtrl.myCheck">
                <span class="close-me" ng-click="plansCtrl.closePlan()">Close</span>
                <br>
                <form class="form-horizontal" name="addPlanForm">
                    <div class="form-group">
                        <!--{{ideasCtrl.idea.title}}-->
                        <input class="form-control "
                               type="text"
                               ng-model="ideasCtrl.idea.title"
                               placeholder="Title"
                               required>
                    </div>
                    <div class="form-group">
                        <!--{{ideasCtrl.idea.image}}-->
                        <input class="form-control "
                               type="url"
                               ng-model="ideasCtrl.idea.image"
                               placeholder="Plan link"
                               required>
                    </div>
                    <div class="form-group">
                        <!--{{ideasCtrl.idea.description}}-->
                        <textarea class="form-control "
                                  rows="2"
                                  ng-model="ideasCtrl.idea.description"
                                  placeholder="Descrioption"
                                  required>
                        </textarea>
                    </div>
                    <span type="submit" class="close-me" ng-click="plansCtrl.savePlan()">Save</span>
                </form>
            </div>
            <div ng-click="plansCtrl.addPlan()"
                 class="plan-sticker">
                Just click here<br> to add new plan!
            </div>
        </div>

        <div class="col-sm-8 col-xs-12">
            <div class="content_idea">
                <p style="text-align: center">Parameters</p>
                <table class="table table-hover table-responsive">
                    <tr ng-repeat="param in plansCtrl.parametrs">
                        <th>{{param.name}}</th>
                        <th>{{param.num}}</th>
                        <th>{{param.unit}}</th>
                        <td><a ng-click="">
                            <span class="glyphicon glyphicon-pencil"></span></a></td>
                        <td><a ng-click="">
                        <span class="glyphicon glyphicon-trash">

                        </span></a></td>
                    </tr>
                </table>
            </div>

        </div>
    </div>
    <div class="row">
        <div class="col-sm-offset-1 col-sm-10">
            <p style="text-align: center"> Add plan of your home, design project, placing communications</p>
            <a ng-repeat="p in plansCtrl.plans">

                <img ng-click='plansCtrl.openPlanModal(p.image, "lg")'
                     class="img-thumbnail" style="width:19.3%"
                     ng-src="{{p.image}}">
            </a>
        </div>
    </div>
</div>


