.row-header {
  margin: 0px auto;
  padding: 0px 0px;
}
.row-content {
  margin: 0px auto;
  padding: 50px 0px;
  border-bottom: 1px ridge;
  min-height: 400px;
}
.row-footer {
  margin: 0px auto;
  padding: 30px 0px;
  background-color: #FF9990;
}
.jumbotron {
  margin: 0px auto;
  padding: 70px 30px;
  /*background: #7986CB;*/
  background-color: #fff;
  color: floralwhite;
  background-image: url("../images/home_sweet_home.jpg");
  background-size: 300px;
  background-repeat: no-repeat;
  
}

.plan{
  background-size: 600px;
  background-repeat: no-repeat;
}

.navbar-inverse {
  background:#3C763D;;
  color: #ffffff;



}
.navbar-inverse .navbar-nav > li > a{
  color: #ffffff;
}
.navbar-inverse .navbar-nav > li > a:hover {
  background: #003300;
  color: #ffffff;
}
.navbar-inverse .navbar-nav > li > a:focus {
  background: #003300;
  color: #ffffff;
}
.navbar-inverse .navbar-nav > .open > a {
  background:#003300;
  color: #ffffff;
}
.navbar-inverse .navbar-nav > .open > a:hover {
  background: #003300;
  color: #ffffff;
}
.navbar-inverse .navbar-nav > .open > a:focus {
  background: #003300;
  color: #ffffff;
}
.navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
  background-color: #3C763D;
  color: #eeeeee;
}
.navbar-inverse .navbar-nav .open .dropdown-menu > li > a:hover {
  color: #003300;
}
.navbar-inverse .navbar-nav .open .dropdown-menu {
  background-color: #3C763D;
  color: #eeeeee;
}
.navbar-inverse .navbar-brand{
  font-family: 'Indie Flower', cursive;
  font-size: x-large;
  color: #fff;
}



address {
  color: #0f0f0f;
  font-size: 80%;
  margin: 0px;
}
body {
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;


}
.tab-content {
  border-bottom: 1px solid #dddddd;
  border-left: 1px solid #dddddd;
  border-right: 1px solid #dddddd;
  padding: 10px;
}
.affix {
  top: 100px;
}
#carouselButtons {
  bottom: 0px;
  position: absolute;
  right: 0px;
}

.content {
  min-height: 650px;
    position :relative;

}

a{
  color: #003300;
}

.modal-dialog {
  /*width:768px;*/
  margin: 30px auto;
}

.comment{

}

.table{
   margin-top: 5px;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
  color: #fff;
  background-color:   #FF9990;
}

.modal-dialog {
  display: block;
  /*font-size: 80%;*/
  margin-top: 250px;
  padding-top: 20px;
  max-width: 480px;
  line-height: 1.42857;
  color: #777;
}

.table>tbody>tr>td{
  vertical-align: middle;
}

#item-img{
  position: absolute;

  bottom:-8px;
  right:16px;
  width: 200px;
  height: 200px;

}

#go_admin{
  position: absolute;
  top: 80px;
  right: 10px;
  }

#discount_23{
  font-size: small;
  color: darkred;
}

#stuff-total-sticker{
  text-align: center;
  padding-top: 50px;
  margin-top: 30px;
 min-height: 240px;
  margin-bottom: 30px;
  font-size: 16px;
  font-family: 'Indie Flower', cursive;
  font-weight: bold;
  background-size: contain;
  background: url(../images/sticker.jpg) no-repeat center;

}
.plan-sticker{
  text-align: center;
  padding-top: 60px;
  margin-top: 10px;
  min-height: 170px;
  margin-bottom: 10px;
  font-size: 14px;
  font-family: 'Indie Flower', cursive;
  font-weight: bold;
  background-size: contain;
  color: darkgreen;
  background: url(../images/sticker_3.jpg) no-repeat center;

}

.add-idea-sticker {
  min-height: 220px;
  text-align: center;
  padding-top: 50px;
  padding-left: 40px;
  padding-right: 40px;
  margin-top: 10px;
  margin-bottom: 30px;
  font-size: 17px;
  font-family: 'Indie Flower', cursive;
  background-size: contain;
  color: darkmagenta;
  font-weight: 600;
  background: url(../images/sticker_.jpg) no-repeat center;
}
.idea-sticker {
  min-height: 220px;
  text-align: center;
  padding-top: 50px;
  padding-left: 50px;
  padding-right: 50px;
  margin-top: 10px;
  margin-bottom: 30px;
  font-size: 16px;
  font-family: 'Indie Flower', cursive;
  font-weight: 400;
  background-size: contain;
  background: url(../images/sticker_2.jpg) no-repeat center;

}

.board{
  /*background: url(../images/board.jpg) no-repeat;*/
  background-size: cover;
}

.rotate{
  -ms-transform: rotate(-8deg); /* IE 9 */
  -webkit-transform: rotate(-8deg); /* Chrome, Safari, Opera */
  transform: rotate(-8deg);
}

.stuff_total >div>p>span{
  font-size: 19px;
}
.table {
  margin-top: 0px;
}

#add_stuff{
  margin-top: 50px;

}

.img-idea{
  padding: 10px;
  margin: 5px;
}
.idea{
    padding: 10px;
  margin: 5px;
    width: 350px;
}

#pagination{
  position: absolute;
  bottom: 0px;
}

.hidden{
   display: none;
}
.carousel .item {
    height: 350px;
}


.carousel .item img {
  left: 0;
  min-height: 350px;
  position: absolute;
  top: 0;
}

.carousel .item img {
  left: 0;
  min-height: 350px;
  position: absolute;
  top: 0;
}
.carousel-caption >p{
    font-size: 20px;
}

.small_pic_idea{
  margin: 2px;
  display: inline-block;
  width: 55px;
  height: 55px;
  vertical-align: top;
  float: left;
}

.content_idea{
  border: 1px solid #dedede;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 2px;


}

.btn-mysuccess:hover,
.btn-mysuccess:focus
{
  color: #fff;
  background-color: #0ac2a9;
}
.btn-mysuccess{
  background: #0cb09b 0 -15px;
  color: #fff;
  text-decoration: none;
  text-shadow: 0 1px 1px rgba(29,103,61,0.65);
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  border: 1px solid transparent;
  border-radius: 2px;

}


.passion-wrapper:hover {
  background: rgba(9, 70, 128, 0.61);;}
.article-wrapper{


}

.drawer-nav >input{
  width: 90%;

}

.lg_plan{
}

.calculator{
  border-radius: 2px;
  background: #ffbb39;
  font-size: 18px;
  padding: 15px;
  margin: 15px;
  opacity: 1;
  font-family: 'Indie Flower', cursive;
}

.calculator >h3>span,
.calculator >span{
  color: #1b6d85;
  font-size: 22px;
}

.hide-me{
  transition: all linear 0.5s;

  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
  padding: 25px;
  margin-right: 10px;
  background: rgba(0, 0, 0, 0.85) 0%;
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.85) 0% 0%, rgba(0, 0, 0, 0.98) 100% 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0.85) 0%), color-stop(100%, rgba(0, 0, 0, 0.98) 100%));
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.85) 0% 0%, rgba(0, 0, 0, 0.98) 100% 100%);
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0.85) 0% 0%, rgba(0, 0, 0, 0.98) 100% 100%);
  background: -ms-linear-gradient(top, rgba(0, 0, 0, 0.85) 0% 0%, rgba(0, 0, 0, 0.98) 100% 100%);
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.85) 0% 0%, rgba(0, 0, 0, 0.98) 100% 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='rgba(0,0,0,0.85) 0%', endColorstr='rgba(0,0,0,0.98) 100%', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#444444', EndColorStr='#000000')


}

.ng-hide {
  height: 0;
  width: 0;
  background-color: transparent;
  left:-200px;
  top: 200px;
}
/*fix this selector does not work*/
.ng-hide textarea{
  resize: vertical;
}

 .close-me {
  position: absolute;
  font-size: 12px;
  text-decoration: none;
  text-transform: uppercase;
  color: #e3e3e3;
  vertical-align: middle
}

